.parrafo{
    font-size:22px;
   font-family:  "DancingScript",cursive;
   color: slateblue
}

.subtitulo{
    font-size:25px;
    Font-weight: bold;
    color: slateblue
}
.fondo{
    background-color:khaki
}


